@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;1,300&family=Open+Sans:ital,wght@0,400;0,500;0,700;1,300&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    background-color: white;
    color: #333;
    line-height: 1.6;
}
ul{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}
h1,h2{
    font-weight: 300;
    line-height: 1.2;
}
p{
    margin: 1rem 0;
}
img{
    width: 100%;
}
.text-center{
    text-align: center;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark);
    opacity: 0.8;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    padding: 0 3rem;
}
.navbar a{
    color: #fff;
    padding: 1rem 2rem;
    margin: 0 .5px;
}
.navbar a:hover{border-bottom: 2px solid var(--warning);}
.navbar ul{
    display: flex;
}
.navbar .brand{
    font-weight: 400;
}
.navbar h1{
    font-size: 3rem;
}
.navbar span{
    color: var(--warning);
}
.main-header{
    background-image: url('./img/bg-1.jpeg');
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    position: relative;
}
.main-header .content h1,p{
    color: white;
}
.main-header .content{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
}
/*
yanlış bu
.main-header{
} */
/* bu da yanlış
.main-header::before{
    background-color: rgb(0, 0, 0,0.6);
}*/
/*.main-header *{
    content: '';
    background-color: rgb(0, 0, 0,0.6);
}*/
.main-header::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.6);
}
.main-header *{z-index: 1;}
.main-header .content p{
    max-width: 600px;
    text-align: center;
}
.flex-items{
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
}
.flex-items p{
    font-size: small;
    color: black;
}
.row{
display: flex;
}

.column2{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.row2{
    display: flex;
}

.column3{
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}



.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
}
.section-header p{
    color: black;
}
.flex-items .galeri{
    margin: 10px;
}
.galeri{
    display: flex;
}
.galeri img:hover{
    cursor: pointer;
}

.flex-items .card{
    margin: 10px;
}

.flex-items .people{
    margin: 10px;
}
.flex-items .people img{
    border-radius: 30%;
}



#section-header h2,p{
    text-align: center;
}
#section-header p{
    color: black;
}

.flex-column .div-contact{
    display: flex;
}
.people img:hover{
    cursor: pointer;
    opacity: 0.7;
}



.contact-form {
    width: 100%;
    padding: 2rem 0;
}

.contact-form label {
    display: block;
    margin-bottom: .5rem;
}

.contact-form .form-control {
    margin-bottom: 1rem;
}

.contact-form input {
    width: 100%;
    padding: 5px;
    height: 40px;
    border: 1px solid #f5f5f5;
}

.contact-form .btn {
    margin-top: 20px;
}

.contact h2 {
    font-size: 4rem;
}

.foot .foot-i{
    display: flex;
    justify-content: center;
    margin-top: 3px;
}
.foot .foot-i i{
    margin: 3px;
}

/*mobil*/
@media(max-width:768px)
{
    html{
        font-size: 8px;
    }
    .navbar{
        flex-direction: column;
        height: 120px;
        padding: 20px;
    }
    .navbar a{
        padding: 10px;
        margin: 0 3px;
    }
    #rooms .div-genel{
        width: 70%;
    } 
   
    #team img{
        width: 70%;
    }
}
@media(max-width:768px){
    .flex-items{
        flex-direction: column;
    }
    .flex-columns2 .row2{
        flex-direction: column;
    }
    .flex-columns .row{
        flex-direction: column;
    }
}