div#kutukapsa {
    width: 940px;
    height: 470px;
    border: 2px solid red;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*ortalıyor*/
}

div.kutu {
    width: 200px;
    height: 200px;
    background-color: black;
    transition: 1s;
    /*olay 1 saniye sonra başlayacak*/
}

div#kutukapsa:hover div.kutu {
    /*scale:ölçeklendirme*/
    /*  transform: scale(2);*/
    transform: scalex(2);
    /*x yönünde büyüme*/
}